

html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    cursor: none;
}

.loaderContent h1{
    color: white;
}

/* when div2 is hovered make div1 purple */
@media screen and (min-width:1000px){
    body{
        cursor: none;
    }
    
    body:has(a:hover) .cursorOutline {
        height: 55px;
        width: 55px;
      }
    
    .cursor{
        width: 5px;
        height: 5px;
        background: rgb(152, 151, 151);
      }
      
      .cursorOutline{
        width: 33px;
        height: 33px;
        border: 2px solid rgb(152, 151, 151);
        transition: 0.5s;
      }
      
      .cursor, .cursorOutline{
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 2;
        pointer-events: none;
      }
    
      ::-moz-selection .cursorOutline { /* Code for Firefox */
        width: 50px;
        height: 50px;
        }
        
        ::selection .cursorOutline {
        width: 50px;
        height: 50px;
        }  
}

/* Navigator Section */

.Nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    z-index: 3;
    animation: navAnim 1.75s;
}

@keyframes navAnim {
    0%{
        transform: translateY(-300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.toggleIcon{
    margin-right: 15px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    display: none;
    transition: 0.5s;
}

.toggleIcon.active{
    transform: rotateZ(90deg );

}

.toggleIcon.active .lineTwo{
    transform: rotateZ(60deg) translateX(1px) translateY(9px);
}

.toggleIcon.active .lineThree{
    transform: rotateZ(-60deg) translateX(5px) translateY(6px);
}

.toggleIcon > div{
    width: 30px;
    height: 2px;
    margin: 5px 0;
    background: #808080;
    transition: 0.5s;
}

#toggleNav{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    z-index: 2;
    background: rgb(18, 77, 133);
}

#toggleNav li{
    list-style: none;
    margin: 22px 0;
}

#toggleNav a{
    text-decoration: none;
    color: rgb(232, 229, 229);
    font-size: 30px;
}

.toggleNav{
    transform: translateY(100%);
}

.toggleNav.active{
    transform: translateY(0);
}

.Line-cont{
    position: absolute;
    width: 30px;
    left: 40px;
    top: 0;
}
.Line-cont > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.Line-div{
    height: 191px;
    background: gray;
    width: 1.5px;
    margin: 0 auto;
}

.Line-Img{
    height: 28px;
    width: 28px;
    margin: 0 auto;
    margin-top: 10px;
    transition: 0.5s;
}

.Line-Img:hover{
    transform: scale(110%);
}

.Line-Img div{
    width: 28px;
    height: 28px;
}

.github{
    background: url(Images/github_white.svg) no-repeat;
}

.discord{
    background: url(Images/discord_white.svg) no-repeat;
}

.twitter{
    background: url(Images/medium_white.svg) no-repeat;
}

.Logo_Image{
    opacity: 0.8;
    margin-left: 10vw;
    display: flex;
    flex-wrap: wrap;
    height: 45px;
}

.Logo_Image > a{
    max-width: 100px;
    position: relative;
}

.Logo-O, .Logo-O_back{
    height: 45px;
    width: 45px;
    position: absolute;
    left: 0;
    transition: 0.4s ease;
}

.Logo-O{
    background: url(Logo/Logo_White.png) no-repeat;
    left: 0px;
}

.Logo-O:hover{
    left: 7px;
}

.Logo-O_back{
    background: url(Logo/logo_back.svg) no-repeat;
}


.Nav-links{
    display: flex;
    flex-direction: row;
    width: 400px;
    background: none;
    margin-right: 150px;
    margin-left: auto;
}

.Nav-links > li{
    list-style: none;
    background: none;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.Nav-links > li > a{
    color: rgb(188, 186, 186);
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    margin: auto;
}

#navLinks.color > li > a{
    color: #191b1f;
}

.anchorLine{
    width: 0%;
    height: 1px;
    background: rgb(188, 186, 186);
    margin: auto;
    transition: 0.3s;
    border-radius: 1px;
}

a:hover + .anchorLine {
    width: 100%;
}

/* ---End of Navigator Section--- */
/* Hero Section */

.Hero-page{
    background: #0c0c0c;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
}

.Hero-page > .hero-div{
    margin: auto 0;
    padding-top: 180px;
    margin-left: 15vw;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    animation: heroDiv 1.75s ease;
}

@keyframes heroDiv {
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.Hero-page > .hero-div > h1, .Hero-page > div > h2{
    margin-bottom: 15px;
    color: white;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Hero-page > .hero-div > h1{
    font-size: 65px;
    font-weight: 800;
    letter-spacing: -5px;
}

.Hero-page > .hero-div > h2{
    font-size: 16px;
    color: gray;
}

.Hero-page span{
    color: #78B9DD;
}

.Hero-page button{
    width: 140px;
    height: 30px;
    background: none;
    border: 2px solid #78B9DD;
    color: white;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    opacity: 0.7;
    transition: 0.4s ease-in-out;
}

.Hero-page button:hover{
    border: 2px solid #808080;
    background: gray;
}

.mouse_icon{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.mouse_icon > div{
    margin: 5px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Arrow a{
    width: 100%;
    height: 100%;
}

.mouse{
    background: url(Icons/mouse.svg) no-repeat;
    height: 35px;
    width: 25px;
    animation: 1.5s Mouse infinite;
}

.Arrow{
    background: url(Icons/Arrow_Down.svg) no-repeat;
    height: 22px;
    width: 22px;
    margin: 0;
    animation: 1.5s Arrow infinite;
}

@keyframes Mouse {
    0%{
        transform: translateY(2px);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(2px);
    }
}

@keyframes Arrow {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

/* ---End of Hero Section--- */
/* About Section */

/* ---End of About Section--- */

/* Work Page */
/* ---End of Work Section--- */
/* Footer Section */

/* ---End of Footer Section--- */

@media screen and (max-width:900px){
    .Nav {
        height: fit-content;
        padding-top: 22px;
    }

    .Nav-links, .Line-cont{
        display: none;
    }

    .Hero-page > .hero-div{
        margin-left: 10vw;
    }

    .Logo_Image{
        margin-right: auto;

    }

    .toggleIcon{
        display: block;
    }
}